<section class="timer">
  <div class="operator">
    <input type="date" id="date-selector" class="input" />
    <button type="button" data-start class="startbtn">Start countdown</button>
  </div>

  <div class="timer-wrapper">
    <div class="field">
      <span class="value" data-days>00</span>
      <span class="label">Days</span>
    </div>
    <div class="field">
      <span class="value" data-hours>00</span>
      <span class="label">Hours</span>
    </div>
    <div class="field">
      <span class="value" data-minutes>00</span>
      <span class="label">Minutes</span>
    </div>
    <div class="field">
      <span class="value" data-seconds>00</span>
      <span class="label">Seconds</span>
    </div>
  </div>
</section>
